@import "tailwindcss";

:root {
}

@theme inline {
  /* Colors */
  --color-brand-primary: rgb(147, 243, 170); /* #93F3AA */
  --color-brand-secondary: rgb(115, 34, 255); /* #7322FF */
  --color-accent: rgb(254, 123, 255); /* #FE7BFF */

  --color-light: rgb(255, 255, 255); /* #FFFFFF */
  --color-muted: rgb(75, 82, 111); /* #4b526f gray font (description, price) */
  --color-dark: rgb(29, 26, 64); /* #1D1A40 */
  --color-soft: rgb(234, 237, 246); /* background, border & price bg */
  --color-deep: rgb(112, 117, 140); /* #70758C dark borders */
  --color-focus: rgb(0, 153, 255); /* input focus / interactive accent */

  /* Font Sizes */
  --text-tiny: 0.625rem; /* 10px */
  --text-compact: 0.75rem; /* 12px */
  --text-small: 0.875rem; /* 14px */
  --text-core: 1rem; /* 16px */
  --text-medium: 1.125rem; /* 18px */
  --text-large: 1.25rem; /* 20px */
  --text-xlarge: 1.375rem; /* 22px */
  --text-2xlarge: 1.5rem; /* 24px */
  --text-3xlarge: 2.125rem; /* 34px */
  --text-4xlarge: 3.5rem; /* 56px */
  --text-5xlarge: 4rem; /* 64px */
  --text-6xlarge: 4.75rem; /* 76px */
  --text-giant: 10.9375rem; /* 175px */

  /* Spacing */
  --spacing-micro: 0.5rem; /* 8px */
  --spacing-tiny: 0.625rem; /* 10px */
  --spacing-small: 0.75rem; /* 12px */
  --spacing-compact: 0.875rem; /* 14px */
  --spacing-base: 1rem; /* 16px */
  --spacing-medium: 1.125rem; /* 18px */
  --spacing-regular: 1.25rem; /* 20px */
  --spacing-lg: 1.375rem; /* 22px */
  --spacing-xl: 1.5rem; /* 24px */
  --spacing-2xl: 1.625rem; /* 26px */
  --spacing-3xl: 2.5rem; /* 40px */
  --spacing-4xl: 2.75rem; /* 44px */
  --spacing-5xl: 3rem; /* 48px */
  --spacing-6xl: 3.5rem; /* 56px */
  --spacing-7xl: 3.75rem; /* 60px */
  --spacing-8xl: 4rem; /* 64px */
  --spacing-9xl: 4.5rem; /* 72px */
  --spacing-10xl: 5rem; /* 80px */
  --spacing-11xl: 5.75rem; /* 92px */
  --spacing-12xl: 6rem; /* 96px */
  --spacing-13xl: 9rem; /* 144px */

  /* Radius */
  --radius-sm: 0.75rem; /* 12px */
  --radius-base: 1rem; /* 16px */
  --radius-md: 1.25rem; /* 20px */
  --radius-lg: 1.5rem; /* 24px */
  --radius-xl: 1.5rem; /* 60px */
  --radius-pill: 62.5rem; /* 1000px */
  --radius-full: 100%; /* circle */

  /* Durations */
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 300ms;
  --transition-duration-slow: 500ms;
  --transition-duration-slower: 800ms;
  --transition-duration-slowest: 1200ms;

  --font-inter: var(--font-inter);
  --font-archivo: var(--font-archivo);
}

body {
  background: rgb(255, 255, 255);
  color: var(--color-dark);
  font-family: var(--font-inter), sans-serif;
}

.page-vertical-gap {
  @apply space-y-micro lg:space-y-base;
}
